<!-- Button trigger modal -->
<div class="d-flex flex-wrap justify-content-around justify-content-between">
    <div>
        <h2>Transactions</h2>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Transaction +
    </button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" [@focusPanel]='isChecked'>
                <h1 class="modal-title fs-5" id="exampleModalLabel">Type of Transaction</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="form">
                    <!-- Start : Transaction Title -->
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="e.g. Amazon Prime"
                            formControlName="title">
                    </div>
                    <!-- End : Transaction Title -->

                    <!-- Start : Transaction Description -->
                    <div class="mb-3">
                        <label for="description" class="form-label">Description <small>- optional</small></label>
                        <input type="text" class="form-control" id="description" maxlength="160"
                            placeholder="e.g. Premium plan" formControlName="description">
                    </div>
                    <!-- End : Transaction Description -->

                    <!-- Start : Transaction Type -->
                    <div class="transactiontypecontainer overflow-hidden">
                        <input type="checkbox" name="transactiontype" id="transactiontype" class="d-none"
                            (change)="isCredit($event)" formControlName="type">
                        <label for="transactiontype" class="cursor-pointer transactiontype">
                            <div class="text-danger user-select-none"><i class="bi bi-caret-down"></i> Debit</div>
                            <div class="text-success user-select-none"><i class="bi bi-caret-up"></i> Credit</div>
                        </label>
                    </div>
                    <!-- End : Transaction Type -->
                    <div class="mb-3">
                        <label for="amount" class="form-label">Amount</label>
                        <input type="number" class="form-control" id="amount" placeholder="Enter amount"
                            formControlName="amount">
                    </div>
                    <div class="text-end">
                        <button type="button" class="btn btn-outline-secondary me-2"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn" [@focusPanel]='isChecked' [disabled]="!form.valid"
                            (click)="onSubmit()" data-bs-dismiss="modal">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <ul>
        <!-- <label *ngFor="let items of listData" class="bg-body-secondary rounded border p-3 my-1">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <div>{{items.title}}</div>
                    <div>{{items.description}}</div>
                </div>
                <div>
                    <button class="btn btn-danger" (click)="onDelete(items.id)">Delete</button>
                </div>
                <div>&#8377;{{items.amount}}</div>
            </div>
        </label> -->
        <label for={{items.id}} class="cursor-pointer bg-secondary-subtle border p-3 my-2 rounded-3 w-100"
            *ngFor="let items of listData; let i = index; trackBy: itemId">
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <div>{{items.title}}</div>
                    <div>&#8377;{{items.amount}}</div>
                </div>
                <input type="checkbox" name="listToggle" id={{items.id}} class="listToggle d-none">
                <div class="submenu overflow-hidden">
                    <div
                        class="d-flex justify-content-md-between justify-content-between flex-wrap flex-md-nowrap mt-3">
                        <div class="text-break">{{items.description}}</div>
                        <div class="ms-auto">
                            <button class="btn btn-danger" (click)="onDelete(items.id)">
                                Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </label>
    </ul>
</div>