.form__group {
    position: relative;
    padding: 20px 0 0;
    width: 100%;
    max-width: 180px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}


// .switch {
//     --false: #E81B1B;
//     --true: #009068;
// }

// input[type=checkbox] {
//     appearance: none;
//     height: 2rem;
//     width: 3.5rem;
//     background-color: #fff;
//     position: relative;
//     border-radius: .2em;
//     cursor: pointer;
// }

// input[type=checkbox]::before {
//     content: '';
//     display: block;
//     height: 1.9em;
//     width: 1.9em;
//     transform: translate(-50%, -50%);
//     position: absolute;
//     top: 50%;
//     left: calc(1.9em/2 + .3em);
//     background-color: var(--false);
//     border-radius: .2em;
//     transition: .3s ease;
// }

// input[type=checkbox]:checked::before {
//     background-color: var(--true);
//     left: calc(100% - (1.9em/2 + .3em));
// }

.accordion-button::after {
    background-image: initial !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: initial !important;
}