<aside class="sidebar bg-gray d-flex flex-column h-100">
    <section><i class="bi bi-currency-rupee fs-1"></i></section>
    <ul class="text-center mt-5 h-100">
        <li class="p-3"><a routerLink="dashboard"><i class="bi bi-speedometer2"></i>Dashboard</a></li>
        <li class="p-3"><a routerLink=""><i class="bi bi-cash-coin"></i>Earnings</a></li>
    </ul>
    <section class="text-center">
        <div>
            <button class="btn btn-primary" (click)="onLogout()">logout</button>
        </div>
        <div>Settings</div>
    </section>
</aside>