<main class="d-flex">
    <!-- Start : Dashboard -->
    <section class="container w-75">
        <!-- Start : Header -->
        <div class="d-flex justify-content-between">
            <div>
                <h1>Dashboard</h1>
                <p class="ms-1 mb-0"><i class="bi bi-calendar-date"></i> {{currentDate | date: 'EEEE, MMMM d'}}</p>
            </div>
            <form class="d-flex mt-auto" role="search">
                <input class="form-control me-2 d-block" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary d-block" type="submit">Search</button>
            </form>
        </div>
        <!-- End : Header -->
        <!-- Start : Body -->
        <div>
            <div class="d-flex flex-wrap">
                <!-- Start : Weekly -->
                <div class="bg-white rounded-4 col-12 col-lg-7">
                    <canvas id="barchart"></canvas>
                </div>
                <!-- End : Weekly -->
                <!-- Start : Wallet -->
                <div class="d-flex bg-white rounded-4 col-12 col-lg-5">
                    <h6>Your Wallet</h6>
                    <div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                            add wallet <i class="bi bi-plus"></i>
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End : Wallet -->
            </div>
            <div class="earning"></div>
            <div class="spendings"></div>
            <div class="savings"></div>
            <div class="transactions"></div>
            <div class="total"></div>
        </div>
        <!-- End : Body -->
    </section>
    <!-- End : Dashboard -->

    <!-- Start : Profile -->
    <section class="bg-white rounded-start-4 w-25">
        Profile
    </section>
    <!-- End : Profile -->
</main>